.my-pic {
	top: -75px;
	margin-left: 5px;
	margin-bottom: -60px;
}
.my-skeleton-img {
	background-color: gray;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.my-skeleton-card {
	animation: my-skeleton 2s infinite;
}

.my-skeleton {
	opacity: 0.25;
}

.my-skeleton-link {
	background-color: deepskyblue;
	width: 150px;
	height: 1.25rem;
}

.my-skeleton-at-mark {
	background-color: gray;
	width: 100px;
	height: 1rem;
}

.my-skeleton-content {
	background-color: darkblue;
	width: 100%;
	height: 200px;
}

@keyframes my-skeleton {
	50% {
		opacity: 0.5;
	}
}
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -.125em;
}

.header-top-container {
	position: relative;
	width: 150px;
	height: auto;
}

#fbar {
	background: #f2f2f2;
	line-height: 40px;
	min-width: 1261px;
	border-top: 1px solid #e4e4e4;
	text-align: center;
}
.fbar p,.fbar a,#fsettl,#fsett a {
	color: #5f6368;
	text-align: center;
}

.fbar a:hover,#fsett a:hover {
	color: #333
}

.fbar {
	font-size: 14px;
}

.fmenu {
	padding-left: 27px;
	margin: 0 !important;
}

.ffbar {
	margin-left: 180px;

}
.test-page {
	color: black;
	font-family: 'Exo', sans-serif;
	padding-right: 50px;
	float: right;
}
.company{
	position: relative;
	font-family: 'Exo', sans-serif;
	line-height: 2px;
	padding-left: 20px;
	color: white;
	float: left;
}
